.contenedor{
  max-width: 80%;
  min-width: 1150px;
  border-radius: 20px;
  margin: 30px auto;
  box-sizing: border-box;
  padding: 25px;
  height: auto;
  position: relative;
  background-color: #ffffff; 

}
